extends components/template

block title
	title Rem.team

block fonts
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")

block main-header
	include components/header

block first-screen
	include components/first-screen

block section-1
	include components/section--img-right

block promo
	include components/promo

block estimate
	include components/estimate

block reviews
	include components/reviews

block works
	include components/works

block contact
	include components/contact

block footer
	include components/footer

block modal
	include components/modal