// ///////
// contact
// ///////

.contact.svg-pattern(id="contact")
	h2.contact__title Остались вопросы?
	.contact-container
		p.contact__text Позвоните нам по номеру:
		a.contact__phone-number.phone-number(href=phoneNumberLink)= phoneNumber
		p.contact__text Напишите в контакте:
		a.contact__btn(href="https://vk.com/id156151810" target="blank")
		a.section__btn.order(href="#") Заказать обратный звонок