// ////////
// estimate
// ////////

.estimate.item.svg-pattern
	h2.estimate__title Наши расценки
	.estimate-container
		.estimate-column
			table
				thead
					tr
						td Наименование работ/материалов
						td Ед. изм.
						td Цена
				tbody
					tr
						td Устройство электрической точки в каркасно-монолитном доме
						td шт.
						td 180
					tr
						td Устройство электрической точки в панельном доме 
						td шт.
						td 220
					tr
						td Прокладка кабеля открытым способом
						td м.п.
						td 25
					tr
						td Прокладка кабеля в гофре
						td м.п.
						td 40
					tr
						td Прокладка кабеля в кабель канале
						td м.п.
						td 40
					tr
						td Наружний щит
						td шт.
						td 300
					tr
						td Внутрений щит до 12 модулей в гипсокартоне
						td шт.
						td 500
					tr
						td Внутрений щит до 12 модулей в газоблоке
						td шт.
						td 600
					tr
						td Внутрений щит до 12 модулей в кирпиче
						td шт.
						td 800
					tr
						td Внутрений щит до 12 модулей в бетоне
						td шт.
						td 1500
		.estimate-column
			table
				thead
					tr
						td Наименование работ/материалов
						td Ед. изм.
						td Цена
				tbody
					tr
						td Внутрений щит от 12 модулей в гипсокартоне
						td шт.
						td 500
					tr
						td Внутрений щит от 12 модулей в газоблоке
						td шт.
						td 800
					tr
						td Внутрений щит от 12 модулей в кирпиче
						td шт.
						td 1000
					tr
						td Внутрений щит от 12 модулей в бетоне
						td шт.
						td 2000
					tr
						td Монтаж автоматического выключателя( (1Р)
						td шт.
						td 180
					tr
						td Монтаж автоматического выключателя( (2Р)
						td шт.
						td 220
					tr
						td Монтаж УЗО
						td шт.
						td 250
					tr
						td Монтаж дифавтомата
						td шт.
						td 250
					tr
						td Наращивание вводного кабеля
						td шт.
						td 1000
	p.estimate-text Цены на работы, не указанные в прайсе - договорные