// //////
// footer
// //////

//- logo variables
- var logoLink = "img/logo.svg";

//- phone variables
- var phoneNumberLink = "tel:89198932563";
- var phoneNumber = "8(919)893-25-63";

footer.footer
	.footer-container
		.logo
			img.logo__img(src=logoLink alt="logo")
		.signature
			a.signature__link(href="https://vk.com/id293207111" target="_blank")
				span.signature__text created by
				img.signature__img(src="img/my-logo.svg" alt="logo" width="100")
		.phone-block
			p.phone-block__text Есть вопросы? Звоните сейчас!
			a.phone-number(href=phoneNumberLink)= phoneNumber
			p.phone-block__text Для Вас звонок бесплатный!
