// ///////////
// main-header
// ///////////

//- logo variables
- var logoLink = "img/logo.svg";
//- var logoWidth = "221";
//- var logoHeight = "43";

//- main-navigation variables / here write down "link": "item"
- var mainNavigationArray = {"#main": "Главная", "#about": "О нас", "#promo": "Акции", "#portfolio": "Наши работы", "#contact": "Контакты"};

//- phone variables
- var phoneNumberLink = "tel:89198932563";
- var phoneNumber = "8(919)893-25-63";

header.main-header.svg-pattern
	.main-header-container
		.logo
			img.logo__img(src=logoLink alt="logo")
		nav.main-navigation
			ul.main-navigation__list
				each mainNavigationItem, mainNavigationLink in mainNavigationArray
					li.main-navigation__item
						a.main-navigation__link(href=mainNavigationLink)
							span.underline-animation= mainNavigationItem
		.phone-block
			p.phone-block__text Есть вопросы? Звоните сейчас!
			a.phone-number(href=phoneNumberLink)= phoneNumber
			p.phone-block__text Для Вас звонок бесплатный!
