// /////
// promo
// /////

.promo
	h2.promo-title Новогодние акции
	.promo-container
		.promo-column
			.promo-subcolumn
				p.promo-text Сделайте заказ прямо сейчас
				a.btn-order.order(href="#") Получите скидку<br> на материалы в подарок!
			.promo-subcolumn
				.promo-img
		.promo-column
			.promo-subcolumn
				p.promo-text При заказе электромонтажа в день замера
				a.btn-order.order(href="#") Скидка 5% на работу
			.promo-subcolumn
				.promo-img