// ///////
// reviews
// ///////

.reviews(id="portfolio")
	.reviews-container
		h2.reviews__title Отзывы наших клиентов
		.slider-wrapper
			.slider
				.slider__item
					.slider__item-container
						.slider__column
							.slider__img-big.slider__img-big--1
						.slider__column
							.slider__img-small.slider__img-small--1
							.slider__text-wrapper
								h2.slider__title Андрей Марков
								p.slider__text Я&nbsp;занимаюсь прорабской деятельностью более 13&nbsp;лет. В&nbsp;последнее время сотрудничаю с&nbsp;бригадой rem.team. Ответственные и&nbsp;компетентные работники, делающее всё в&nbsp;срок. Особенно выручают, когда горят сроки&nbsp;&mdash; готовы работать и&nbsp;днём, и&nbsp;ночью без перерывов и&nbsp;выходных. Ребята завершили у&nbsp;меня более 10&nbsp;обьектов, нареканий нет.
				.slider__item
					.slider__item-container
						.slider__column
							.slider__img-big.slider__img-big--2
						.slider__column
							.slider__img-small.slider__img-small--2
							.slider__text-wrapper
								h2.slider__title Марьяна Яновна
								p.slider__text Мне нужна была качественная проводка. Перебрала несколько компаний по&nbsp;электромонтажу и&nbsp;остановилась на&nbsp;rem.team. Приехали быстро, а&nbsp;монтаж занял всего два дня. Очень понравилось&nbsp;то, что ребята без вредных привычек, чистые и&nbsp;опрятные&nbsp;&mdash; профессионализм на&nbsp;лицо! Рекомендую обращаться к&nbsp;rem.team за&nbsp;качественным электромонтажём.
				.slider__item
					.slider__item-container
						.slider__column
							.slider__img-big.slider__img-big--3
						.slider__column
							.slider__img-small.slider__img-small--3
							.slider__text-wrapper
								h2.slider__title Александр Лисунов
								p.slider__text Rem.team мне посоветовали знакомые, которые недавно делали электрику. Мне понравилось как им&nbsp;качественно сделали, и&nbsp;я&nbsp;решил воспользоваться услугами парней. В&nbsp;результате, после звонка, ко&nbsp;мне приехала бригада, все быстро посчитали и&nbsp;буквально через несколько дней работа была закончена. Не&nbsp;ожидал такой оперативности и&nbsp;качества по&nbsp;приятным ценам. Всем рекомендую.
				.slider__item
					.slider__item-container
						.slider__column
							.slider__img-big.slider__img-big--4
						.slider__column
							.slider__img-small.slider__img-small--4
							.slider__text-wrapper
								h2.slider__title Ирина и Константин Лобановы
								p.slider__text Нам был интересен именно такой формат строителей&nbsp;&mdash; молодые профессионалы, без вредных привычек, идущие в&nbsp;ногу со&nbsp;временем. Rem.Team очень порадовали&nbsp;&mdash; квалифицированно выполнили свою работу и&nbsp;отлично проконсультировали относительно последующих стадий ремонта&nbsp;&mdash; будем сотрудничать с&nbsp;ними и&nbsp;далее!
