// ///////
// reviews
// ///////

.reviews(id="portfolio")
	.reviews-container
		h2.reviews__title Отзывы наших клиентов
		.slider-wrapper
			.slider
				.slider__item
					.slider__item-container
						.slider__column
							.slider__img-big.slider__img-big--1
						.slider__column
							.slider__img-small.slider__img-small--1
							.slider__text-wrapper
								h2.slider__title Андрей Марков
								p.slider__text Я занимаюсь прорабской деятельностью более 13 лет. В последнее время сотрудничаю с бригадой rem.team. Ответственные и компетентные работники, делающее всё в срок. Особенно выручают, когда горят сроки - готовы работать и днём, и ночью без перерывов и выходных. Ребята завершили у меня более 10 обьектов, нареканий нет.
				.slider__item
					.slider__item-container
						.slider__column
							.slider__img-big.slider__img-big--2
						.slider__column
							.slider__img-small.slider__img-small--2
							.slider__text-wrapper
								h2.slider__title Марьяна Яновна
								p.slider__text Мне нужна была качественная проводка. Перебрала несколько компаний по электромонтажу и остановилась на rem.team. Приехали быстро, а монтаж занял всего два дня. Очень понравилось то, что ребята без вредных привычек, чистые и опрятные — профессионализм на лицо! Рекомендую обращаться к rem.team за качественным электромонтажём.
				.slider__item
					.slider__item-container
						.slider__column
							.slider__img-big.slider__img-big--3
						.slider__column
							.slider__img-small.slider__img-small--3
							.slider__text-wrapper
								h2.slider__title Николай Лесин
								p.slider__text Rem.team мне посоветовали знакомые, которые недавно делали электрику. Мне понравилось как им качественно сделали, и я решил воспользоваться услугами парней. В результате, после звонка, ко мне приехала бригада, все быстро посчитали и буквально через несколько дней работа была закончена. Не ожидал такой оперативности и качества по приятным ценам. Всем рекомендую.
