// ////////
// section
// ////////

.section.section--color-reverse(id="about")
	.section-container
		.section-column.section-column--img-right
			h2.section__title Изготовление схемы электромонтажа
			p.section__text Квалифицированному электромонтажу всегда сопутствует грамотная исполнительная схема! Мы&nbsp;всегда отдаем её&nbsp;заказчикам, для их&nbsp;удобства&nbsp;&mdash; зачастую необходимо знать расположение электромонтажных коробок и&nbsp;трасс, расположение опусков кабеля в&nbsp;стенах, где и&nbsp;какие скрытые работы проводились.
			p.section__text Наши клиенты всегда остаются довольны оказанными услугами. Заказав наши услуги, Вы&nbsp;получаете качественный и&nbsp;аккуратный электромонтаж по&nbsp;доступной цене.
			a.section__btn.order(href="#") Оставить заявку на&nbsp;электромонтаж
		.section-column.section-column--img-right
			img.section__img(src="img/scheme.jpg")
