// ////////
// section
// ////////

.section.svg-pattern(id="contact")
	.section-container
		.section-column
			img.section__img(src="img/bg-1.jpg")
		.section-column
			h2.section__title О нас
			p.section__text Мы - профессиональная бригада электромонтажников ReM. TeaM! Специализируемся на квартирах (новострой, вторичное жилье) и частных домах. Имеем большой опыт работы, не имеем вредных привычек.
			p.section__text Мы любим свою работу! Наши клиенты всегда остаются довольны оказанными услугами. Заказав наши услуги, Вы получаете качественный, аккуратный электромонтаж по доступной цене.
			a.section__btn.order(href="#") Оставить заявку на электромонтаж
