// ////////
// section
// ////////

.section.section--color-reverse(id="about")
	.section-container
		.section-column.section-column--img-right
			h2.section__title Изготовление схемы электромонтажа
			p.section__text Квалифицированному электромонтажу всегда сопутствует грамотная исполнительная схема! Мы всегда отдаем её заказчикам, для их удобства - зачастую необходимо знать расположение электромонтажных коробок и трасс, расположение опусков кабеля в стенах, где и какие скрытые работы проводились. 
			p.section__text Наши клиенты всегда остаются довольны оказанными услугами. Заказав наши услуги, Вы получаете качественный и аккуратный электромонтаж по доступной цене.
			a.section__btn.order(href="#") Оставить заявку на электромонтаж
		.section-column.section-column--img-right
			img.section__img(src="img/bg-1.jpg")
