// ////////
// section
// ////////

.section.svg-pattern(id="contact")
	.section-container
		.section-column
			img.section__img(src="img/bg-2.jpg")
		.section-column
			h2.section__title Остались вопросы?
			p.section__text Свяжитесь с нами любым из нижеперечисленных способов:
			a.contact__phone-number.phone-number(href=phoneNumberLink)= phoneNumber
			a.contact__btn(href="https://vk.com/id156151810" target="blank")
			a.section__btn.order(href="#") Заказать обратный звонок