// ////////
// section
// ////////

.section.svg-pattern(id="about")
	.section-container
		.section-column.section-column--img-right
			h2.section__title О нас
			p.section__text Мы&nbsp;&mdash; профессиональная бригада электромонтажников ReM. TeaM! Специализируемся на&nbsp;квартирах (новострой, вторичное жилье) и&nbsp;частных домах. Имеем большой опыт работы, не&nbsp;имеем вредных привычек.
			p.section__text Мы&nbsp;любим свою работу! Наши клиенты всегда остаются довольны оказанными услугами. Заказав наши услуги, Вы&nbsp;получаете качественный, аккуратный электромонтаж по&nbsp;доступной цене.
			a.section__btn.order(href="#") Оставить заявку на&nbsp;электромонтаж
		.section-column.section-column--img-right
			img.section__img(src="img/bg-1.jpg")
