// ///////
// reviews
// ///////

.works.svg-pattern
	h2.works__title Как мы работаем
	.works-container
		- for (i=1; i<13; i++)
			a.works__link(href="../img/works/" + i + ".jpg" data-lightbox="how-we-works")
				img.works__img(src="../img/works/preview/" + i + "_300x200.jpg" data-lightbox="works")

		p.works__text Мы&nbsp;всегда ответственно подходим к&nbsp;процессу. Все работы проводятся в&nbsp;строгом соответствии с&nbsp;правилами ПУЭ (правила устройства электроустановок), качественными материалами и&nbsp;при использовании профессионального инструмента.
