// ///////
// reviews
// ///////

.works.svg-pattern
	h2.works__title Как мы работаем
	.works-container
		- for (i=1; i<13; i++)
			a.works__link(href="../img/works/work" + i + "_1200x800.jpg" data-lightbox="how-we-works")
				img.works__img(src="../img/works/preview/work" + i + "_300x200.jpg" data-lightbox="works")

		p.works__text Мы всегда ответственно подходим к процессу. Все работы проводятся в строгом соответствии с правилами ПУЭ (правила устройства электроустановок), качественными материалами и при использовании профессионального инструмента.
